/* ---------------------------------------------Color de Animaciones de botones ----------------------------   */
:root {
    --color3: #7BF51B;

}

/* ---------------------------------------------Color de Animaciones de botones ----------------------------   */
/* ---------------------------------------------Mobile responsive ----------------------------   */
.lang-flags {
    display: flex;
}

@media (max-width: 991px) {

    .navbar-nav .left-nav-elements,
    .right-nav-elements {
        flex-direction: column;
    }

    .lang-flags {
        display: flex;
    }

    .lang-flags>form:not(:last-child) {
        margin-right: 15px;
    }

    /* ---------------------------------------------Mobile responsive ----------------------------   */

    /* ---------------------------------------------Animaciones de botones ----------------------------   */
}

.borderLeftRight {
    position: relative;
}

.borderLeftRight::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color3);
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: bottom right;

}

.borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ---------------------------------------------Animaciones de botones ----------------------------   */

body {
    /* ---------------------------------------------Google fonts "Extra-light 200" --------------------------------*/
    font-family: 'Kanit', sans-serif;
    /* ---------------------------------------------Google fonts "Extra-light 200" --------------------------------*/
    background-color: #158ba8;

    button {
        position: relative;
        display: inline-block;
        padding: 1px 10px;
        border-radius: 50px;
        border-style: none;
        color: black;
        /* Color del texto */
        /* #2196f3 */

        text-decoration: none;
        font-size: 14px;
        overflow: hidden;
        transition: 0.2s;
    }

    /* ----------------------------------------------------------------------- */

    button:hover {
        color: #255784;
        background: #2196f3;
        /* Color de alumbrado final neon */
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        transition-delay: 1s;
    }

    button span {
        position: absolute;
        display: block;
    }

    /* ----------------------------------Transicion superior de izquierda a derecha------------------------------------- */
    button span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #2196f3);
    }

    button:hover span:nth-child(1) {
        left: 100%;
        transition: 1s;
    }

    /* ----------------------------------Transicion superior de izquierda a derecha------------------------------------- */
    /* ----------------------------------Transicion inferior de derecha a izquierda------------------------------------- */
    button span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #2196f3);
    }

    button:hover span:nth-child(3) {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }

    /* ----------------------------------Transicion inferior de derecha a izquierda------------------------------------- */
    /* ----------------------------------Transicion lateral derecho de arriba abajo------------------------------------- */
    button span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #2196f3);
    }

    button:hover span:nth-child(2) {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }

    /* ----------------------------------Transicion lateral izquierdo de abajo arriba------------------------------------- */
    button span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #2196f3);
    }

    button:hover span:nth-child(4) {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
}

.altura {
    height: 80vh;


}
