/* ---------------------------------------------Banderitas Idiomas -----------------------------------------   */

.lang-flags {
    display: flex;
}

/* ---------------------------------------------Banderitas Idiomas -----------------------------------------   */

/* ---------------------------------------------Mobile responsive -----------------------------------------   */

@media (max-width: 991px) {

    .navbar-nav .left-nav-elements,
    .right-nav-elements {
        flex-direction: column;

    }

    .lang-flags {
        display: flex;
    }

    .lang-flags>form:not(:last-child) {
        margin-right: 15px;
    }
}

/* ---------------------------------------------Mobile responsive -----------------------------------------   */

/* ---------------------------------------------Animaciones de botones ------------------------------------   */

.borderLeftRight {
    position: relative;
}

.borderLeftRight::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(62, 62, 62);
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: bottom right;

}

.borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ---------------------------------------------Animaciones de botones ------------------------------------   */

body {
    /* ---------------------------------------------Google fonts "Extra-light 200" --------------------------------*/
    font-family: 'Kanit', sans-serif;
    /* ---------------------------------------------Google fonts "Extra-light 200" --------------------------------*/
    /* background-color: #f4c996 #158ba8; */
    background-color: #eceff1;

    /* ---------------------------------------------Botones Login/Register ----------------------------------------------------*/
    button {
        position: relative;
        display: inline-block;
        padding: 1px 10px;
        border-radius: 50px;
        border-style: none;
        color: black;
        /* Color del texto */
        /* #2196f3 */

        text-decoration: none;
        font-size: 14px;
        overflow: hidden;
        transition: 0.2s;
    }

    /* ---------------------------------------------Botones Login/Register ----------------------------------------------------*/
    /* ---------------------------------------------Boton Nuevo anuncio -------------------------------------------------------*/
    .nuevoAnuncio {
        position: relative;
        display: inline-block;
        padding: 7px 10px;
        border-radius: 50px;
        border-style: none;
        color: black;
        /* Color del texto */
        /* #2196f3 */

        text-decoration: none;
        font-size: 12px;
        overflow: hidden;
        transition: 0.2s;
    }

    .nuevoAnuncio {
        color: #255784;
        background: #60c9fb;
        /* #FFB900 #13c1ac*/
        /* Color de alumbrado final neon */
        /* box-shadow: 0 0 10px #0D5EDB, 0 0 40px #0D5EDB, 0 0 80px #0D5EDB; */
        transition-delay: 1s;
    }

    .nuevoAnuncio .nuevoAnuncio {
        position: absolute;
        display: block;
    }


    /* ---------------------------------------------Boton Nuevo anuncio ----------------------------------------------------*/
    /* ---------------------------------------------Boton Categorias ----------------------------------------------------*/
    .categorias {
        font-size: 12px;
        text-decoration: none;
    }


    /* ---------------------------------------------Boton Categorias ----------------------------------------------------*/

    /* ---------------------------------------------Barra buscador y boton buscar ------------------------------------------*/
    .rounded-pill {
        position: relative;
        display: inline-block;
        padding: 7px 10px;

        border-style: none;
        text-decoration: none;
        font-size: 13px;

    }

    .boton:hover {
        position: relative;
        display: inline-block;
        padding-right: 20px;
        border-radius: 10px;
        border-style: none;
        color: white;
        text-decoration: none;
        font-size: 13px;
        overflow: hidden;
        cursor: pointer;
        /* Que aumente el tamaño */
        transform: scale(1.03);
        /*     Que tarde 1s en expandir la card */
        transition: all 1s ease;
        background-color: #60c9fb;
    }

    .buscador {
        outline: none;
    }

}

/* ---------------------------------------------Barra buscador y boton buscar ------------------------------------------*/
/* ---------------------------------------------Nombre de usuario autentificado ------------------------------------------*/
.userAutentificado {
    color: #2196f3;
}

/* ---------------------------------------------Nombre de usuario autentificado ------------------------------------------*/

/* ---------------------------------------------Card home ----------------------------------------------------*/

.cardHome {
    border-radius: 15px;
    background-color: white;
    min-height: 600px;


}

.cardHome img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.precioCard {
    font-weight: bolder;

}

.textoCard {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.nombreCategoria {
    text-align: center;
}

.nombreUser {
    text-align: center;
}

.linkDetalle {

    border-style: none;
    /*  overflow: hidden; */
    background-color: #60c9fb;
    border-radius: 15px;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    /*     Que no tenga la apariencia de link el "Leer mas" */
    text-decoration: none;
}

.card:hover {
    /* Al pasar el cursor por la card cambia de color el fondo y texto */
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    /* Que aumente el tamaño */
    transform: scale(1.03);
    /*     Que tarde 1s en expandir la card */
    transition: all 1s ease;
}

/* ---------------------------------------------Card home ----------------------------------------------------*/

/* ---------------------------------------------Columna derecha ----------------------------------------------------*/

.imagenColDerecha {
    border-radius: 8px;
}

/* ---------------------------------------------Columna derecha ----------------------------------------------------*/
/* ---------------------------------------------Vista detalle ----------------------------------------------------*/
.carouselEstilo {
    border-radius: 10px;
}

.rowDetalles {
    margin-top: 70px;
}

/* ---------------------------------------------Vista detalle ----------------------------------------------------*/
.altura {
    height: 80vh;

}
