/* ---------------------------------------------Color de Animaciones de botones ----------------------------   */
:root {
    --color3: #FAFAFA;

}

/* ---------------------------------------------Color de Animaciones de botones ----------------------------   */
/* ---------------------------------------------Mobile responsive ----------------------------   */
.lang-flags {
    display: flex;
}

@media (max-width: 991px) {

    .navbar-nav .left-nav-elements,
    .right-nav-elements {
        flex-direction: column;

    }

    .lang-flags {
        display: flex;
    }

    .lang-flags>form:not(:last-child) {
        margin-right: 15px;
    }
}

/* ---------------------------------------------Mobile responsive ----------------------------   */

/* ---------------------------------------------Animaciones de botones ----------------------------   */


.borderLeftRight {
    position: relative;
}

.borderLeftRight::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color3);
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: bottom right;

}

.borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ---------------------------------------------Animaciones de botones ----------------------------   */

body {
    /* ---------------------------------------------Google fonts "Extra-light 200" --------------------------------*/
    font-family: 'Kanit', sans-serif;
    /* ---------------------------------------------Google fonts "Extra-light 200" --------------------------------*/
    /* background-color: #158ba8; */
    background-color: #f4c996;

    /* ---------------------------------------------Botones Login/Register ----------------------------------------------------*/
    button {
        position: relative;
        display: inline-block;
        padding: 1px 10px;
        border-radius: 50px;
        border-style: none;
        color: black;
        /* Color del texto */
        /* #2196f3 */

        text-decoration: none;
        font-size: 14px;
        overflow: hidden;
        transition: 0.2s;
    }

    /* ----------------------------------------------------------------------- */

    button:hover {
        color: #255784;
        background: #2196f3;
        /* Color de alumbrado final neon */
        box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
        transition-delay: 0.75s;
    }

    button .botonLoginRegister {
        position: absolute;
        display: block;
    }

    /* ----------------------------------Transicion superior de izquierda a derecha------------------------------------- */
    button .botonLoginRegister:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #2196f3);
    }

    button:hover .botonLoginRegister:nth-child(1) {
        left: 100%;
        transition: 0.5s;
    }

    /* ----------------------------------Transicion superior de izquierda a derecha------------------------------------- */
    /* ----------------------------------Transicion inferior de derecha a izquierda------------------------------------- */
    button .botonLoginRegister:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 3px;
        background: linear-gradient(270deg, transparent, #FFB900);
    }

    button:hover .botonLoginRegister:nth-child(3) {
        right: 100%;
        transition: 0.75s;
        transition-delay: 0.2s;
    }

    /* ----------------------------------Transicion inferior de derecha a izquierda------------------------------------- */
    /* ----------------------------------Transicion lateral derecho de arriba abajo------------------------------------- */
    button .botonLoginRegister:nth-child(2) {
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #2196f3);
    }

    button:hover .botonLoginRegister:nth-child(2) {
        top: 100%;
        transition: 0.75s;
        transition-delay: 0.15s;
    }

    /* ----------------------------------Transicion lateral izquierdo de abajo arriba------------------------------------- */
    button .botonLoginRegister:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #FFB900);
    }

    button:hover .botonLoginRegister:nth-child(4) {
        bottom: 100%;
        transition: 0.75s;
        transition-delay: 0.35s;
    }

    /* ---------------------------------------------Botones Login/Register ----------------------------------------------------*/
    /* ---------------------------------------------Nuevo anuncio ----------------------------------------------------*/
    .nuevoAnuncio {
        position: relative;
        display: inline-block;
        padding: 7px 10px;
        border-radius: 50px;
        border-style: none;
        color: black;
        /* Color del texto */
        /* #2196f3 */

        text-decoration: none;
        font-size: 14px;
        overflow: hidden;
        transition: 0.2s;
    }

    .nuevoAnuncio

    /* :hover */
        {
        color: #255784;
        background: #FFB900;
        /* Color de alumbrado final neon */
        /* box-shadow: 0 0 10px #0D5EDB, 0 0 40px #0D5EDB, 0 0 80px #0D5EDB; */
        transition-delay: 1s;
    }

    .nuevoAnuncio .nuevoAnuncio {
        position: absolute;
        display: block;
    }


    /* ---------------------------------------------Nuevo anuncio ----------------------------------------------------*/

}

.altura {
    height: 80vh;


}

.rowDetalles {
    margin-top: 70px;
}

/* ---------------------------------------------Card home ----------------------------------------------------*/

.cardHome {
    border-radius: 15px;
    background-color: wheat;

}

/* ---------------------------------------------Card home ----------------------------------------------------*/
/* ---------------------------------------------Carousel Card home ----------------------------------------------------*/
.carouselEstilo {
    border-radius: 10px;

}

/* ---------------------------------------------Carousel Card home ----------------------------------------------------*/
/* ---------------------------------------------Carousel imagen Card home ----------------------------------------------------*/
.carouselImagen {
    border-radius: 10px;

}

/* ---------------------------------------------Carousel imagen Card home ----------------------------------------------------*/
.imagenColDerecha {
    border-radius: 8px;
}

.linkDetalle {
    text-align: center;
}

.nombreUser {
    text-align: center;
}

.nombreCategoria {
    text-align: center;
}

.rounded-pill {
    position: relative;
    display: inline-block;
    padding: 7px 10px;

    border-style: none;
    text-decoration: none;
    font-size: 13px;

}

.botonBuscar {
    position: relative;
    display: inline-block;
    padding: 5px 50px;
    border-radius: 50px;
    border-style: none;
    color: #2196f3;
    /* Color del texto */
    /* #2196f3 */
    text-transform: uppercase;
    text-align: center;

    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
}
